/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg,
img {
  display: block;
}

/* || VARIABLES */
:root {
  /* Colors */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  /* Fonts */
  --fw-light: 400;
  --fw-average: 500;
  --fw-normal: 600;
  --fw-bold: 700;

}

/* || GENERAL STYLES */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./images/bg-intro-mobile.png) var(--red);
}

.container {
  width: 85%;
  max-width: 320px;
  padding: 3rem 0;
}

.introduction {
  text-align: center;
  color: white;
}

.call-to-action {
  padding: 1rem 5rem;
  border: none;
  background-color: var(--accent-blue);
  color: white;
  margin: 1rem 0;
  border-radius: .5rem;
}

.bold {
  font-weight: var(--fw-bold);
}

.bg-white {
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
}

.call-to-action,
.bg-white {
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.185);
}

.bio-data {
  display: grid;
  row-gap: 1rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(230, 230, 230);
  border-radius: .3rem;
  font-weight: var(--fw-normal);
  outline: none;
}

input:focus {
  border-color: black;
}

input::placeholder {
  font-weight: var(--fw-normal);
}

.submit {
  padding: 1rem 0;
  border: none;
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  font-weight: var(--fw-normal);
  letter-spacing: 1px;
  border-radius: .3rem;
  box-shadow: 0 5px 0 0 hsl(154, 60%, 44%);
  font-size: 1rem;
}

.terms {
  text-align: center;
  font-size: .8rem;
  color: var(--grayish-blue);
  margin-top: 1rem;
}

.terms-and-services {
  color: var(--red);
  text-decoration: none;
  font-weight: var(--fw-normal);
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 710px;
  }
  .introduction {
    place-self: center;
    text-align: left;
  }
  .introduction-heading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .call-to-action {
    padding: 1rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    column-gap: 2rem;
  }
  .introduction-heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .terms {
    font-size: .6rem;
  }
}
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */